@use '@angular/material' as mat;
@use './theme' as *;

html {
  @include mat.all-component-themes($light-theme);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}
